# Python virtual environments
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Custom project caches
hf_cache/
clip-lora-finetuned/
